body
{
    padding: 0px;
    margin: 0px;
}
.fixedHeader
{
    position: fixed;
    margin :0px;
    padding: 0px;
    top :0px;
    height :60px;
    background-color:#b3cce6;
    width: 80%;
    right: 0px;
    text-align: center;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;  
    color: black;
    line-height: 60px;
    z-index: 1;
    
}
.titleDiv{
    position: relative;
    display: inline-block;
    font-size: 22px;
    width: 300px;
}
.addButton
{
    float: right;
    position: relative;
    height: 30px;
    width: 30px;
    background-color: #002663;
    border-radius: 15px;
    top: 15px;
    margin-right: 10px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.addButton:active
{
  background-color: #0043B2;
}
.searchField
{
    position: absolute;
    border-radius: 5px;
    border: none;
    height: 20px;
    width: 150px;
    right: 60px;
    top: 20px;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    
}
.toggleButtonDiv
{
    position: fixed;
    margin :0px;
    padding: 10px;
    right: 0px;
    top: 60px;
    width: 80%;
    background-color: #fff; 
    text-align: right;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;  
    z-index: 1;
    color: #005DB3;
    font-size: 15px;
    font-family: Arial;  
    cursor: pointer;
}
.navBar
{
    position: fixed;
    left: 0px;
    top: 0px;
    margin: 0px;
    height: 100%;
    width: 20%;
    padding-top: 50px;
    background-color: #002663;
    z-index: 5;
}
.navItem
{
    position: relative;
    color: #a5acaf;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;  
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 5px; 
    text-align: center;
    width: 100%;
    
}
.mainDiv
{
    position: absolute;
    top: 90px;
    width: 80%;
    right: 0px;
    height: auto;
    text-align: center;
}

.containerDiv
{
    position: relative;
    width: 100%;
    height: auto;
    z-index: 0;
}
.containerFinishedDiv
{
    position: relative;
    width: 100%;
    height:auto;
    z-index: 0;
    transition: all 1s linear;  
    display: none;
    opacity: .5;
    animation: loadContainer 1s;
}

@keyframes loadContainer {
    from{opacity:0;}
    to{opacity: .5;}
}
.contentDiv
{
    overflow: hidden;
    width: 100%;
    top: 30px;
    height: 50px;
    background-color: transparent;
    border-radius: 20px;
    z-index: 100;
}
.completedButtonDiv
{
    position: relative;
    float: left;
    background-color: #002663;
    margin:10px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    cursor: pointer;
}
.completedButtonDiv:active
{
   background-color: #0043B2;
}
.textContainer
{
     overflow: hidden;
}
.reminderField
{
    position: relative;
    padding: 6px 10px;
    width: 100%;
    border: none;
    background-color: transparent;
    color: black;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #a5acaf 1px;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    font-size: 17px;
}
.deleteButtonDiv
{
    float: right;
    background-color: #002663;
    margin:10px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    cursor: pointer;
}
.deleteButtonDiv:active
{
  background-color: #0043B2;
}
.navItem:hover
{
   background-color: #b52e31;
}
ul
{
  position: absolute;
  left: 0px;
}
