body
{
	padding: 0px;
	margin: 0px;
}

.fixedHeader
{
	position: fixed;
    margin :0px;
    padding: 0px;
	top :0px;
	left: 200px;
	height :60px;
    background-color:#b3cce6;
    width: 1166px;
    text-align: center;
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; 
    color: black;
    line-height: 60px;
    
}
.navBar
{
	position: fixed;
	left: 0px;
	top: 0px;
    margin: 0px;
	height: 100%;
	width: 200px;
    padding-top: 50px;
	background-color: #9B9B9B;
    z-index: 5;
}
div ul li
{
	list-style-type: none;
	color: #2A2872;
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; 
	font-size: 16px;
	font-weight: 700;
    margin-bottom: 40px;
    margin-left: 0px;
}
.containerDiv
{
	position: fixed;
	left: 200px;
	top:  60px;
	width: 1166px;
	height: 626px;
	z-index: 0;
}
.contentDiv
{
	position: relative;
    top: 30px;
	height: 50px;
	width: 1146px;
	margin: 10px;
    background-color: #407dbf;
    border-radius: 20px;
    z-index: 100;
}
.completedButtonDiv
{
	position: absolute;
	background-color: #002663;
	margin:10px;
	height: 30px;
	width: 30px;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
.textContainer
{
	position: absolute;
	margin: 10px;
	left : 50px;
    height: 30px;
    width: 600px;
}
.reminderField
{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 600px;
    height: 30px;
    border-radius: 10px;
    border: none;
}
.removeButton
{
    position: absolute;
    margin: 0px;
    padding: 0px;
    height: 30px;
	width: 30px;
}
.deleteButtonDiv
{
    float: right;
	background-color: #002663;
	margin:10px;
	height: 30px;
	width: 30px;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
.toggleButton
{
    position: absolute;
    top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 98%;  
}
.addButton
{
    float: right;
    position: relative;
    height: 30px;
    width: 30px;
    background-color: #002663;
    border-radius: 15px;
    top: 15px;
    margin-right: 20px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.searchField
{
    border-radius: 5px;
}
